{% extends "layout.html" %}
{% block body %}
<section class="section">
    <div class="container mt-0">
      <div class="columns is-centered">
        <div class="column is-half">
          <div class="box has-text-centered has-background-success">
            <a class="title is-3 has-text-white">
                Nuestro Equipo
            </a>
            </div>
        </div>
      </div>
    </div>
  </section>
    <div class="columns">
        <div class="column">
            <article class="message is-primary">
                <section class="block">
                    <div>
                        <h3 class="title is-4 pt-4 has-text-centered">Daniel Madariaga</h3>
                    </div>
                </section>
                <div class="message-body">
                    <section class="persona">
                        <div class="box">
                            <figure class="image is-100x100">
                                <img class=is-rounded src="{{url_for('static', filename='Daniek.jpeg')}}" alt="">
                            </figure>
                            
                        </div>
                        
                        <h4>Alumno</h4>
                        <ul>
                            <li>Carrera: Ing. Civil</li>
                            <li>Edad: 19 años</li>
                        </ul>
                    </section>
                </div>
            </article>
        </div>
        <div class="column">
            <article class="message is-success">
                <section class="block">
                    <div>
                        <h3 class="title is-4 pt-4 has-text-centered">Alfonso Pinto</h3>
                    </div>
                </section>
                <div class="message-body">
                    <section class="persona">
                        <div class="box">
                            <figure class="image is-80x80">
                                <img class=is-rounded src="{{url_for('static', filename='alfonso.jpg')}}" alt="">
                            </figure>
                        </div>
                        <h4>Alumno</h4>
                        <ul>
                            <li>Carrera: Ing. Civil</li>
                            <li>Edad: 19 años</li>
                        </ul>
                    </section>
                </div>
            </article>
        </div>
        <div class="column">
            <article class="message is-primary">
                <section class="block">
                    <div>
                        <h3 class="title is-4 pt-4 has-text-centered">Benjamín Díaz</h3>
                    </div>
                </section>
                <div class="message-body">
                    <section class="persona">
                        <div class="box">
                            <figure class="image is-100x100">
                                <img class=is-rounded src="{{url_for('static', filename='benja.jpeg')}}" alt="">
                            </figure>
                        </div>
                        
                        <h4>Alumno</h4>
                        <ul>
                            <li>Carrera: Ing. Civil</li>
                            <li>Edad: 19 años</li>
                        </ul>
                    </section>
                </div>
            </article>
        </div>
        <div class="column">
            <article class="message is-success">
                <section class="block">
                    <div>
                        <h3 class="title is-4  pt-4 has-text-centered">Jorge Becerra</h3>
                    </div>
                </section>
                <div class="message-body">
                    <section class="persona">
                        <div class="box">
                            <figure class="image is-100x100">
                                <img class=is-rounded src="{{url_for('static', filename='Jorge.jpeg')}}" alt="">
                            </figure>
                        </div>
                            
                        <h4>Alumno</h4>
                        <ul>
                            <li>Carrera: Ing. Civil</li>
                            <li>Edad: 19 años</li>
                        </ul>
                    </section>
                </div>
            </article>
        </div>
        <div class="column">
            <article class="message is-primary">
                <section class="block">
                    <div>
                        <h3 class="title is-4 pt-4 has-text-centered">Santiago Taverne</h3>
                    </div>
                </section>
                <div class="message-body">
                    <section class="persona">
                        <div class="box">
                            <figure class="image is-100x100">
                                <img class=is-rounded src="{{url_for('static', filename='santiago1.jpeg')}}" alt="">
                            </figure>
                            
                        </div>
                        
                        <h4>Alumno</h4>
                        <ul>
                            <li>Carrera: Ing. Civil</li>
                            <li>Edad: 19 años</li>
                        </ul>
                    </section>
                </div>
            </article>
        </div>
    </div>

</div>
<div class="container my-2">
    <div class="card mt-2">
        <div class="card-content">
            <p class="title is-5">
            “Acá está Alexis,
            ¡Alexis y la Copa América!
            ¡Alexis...Le Pegooó...!
            ¡Chile Campeón!
            ¡Chile Campeón!
            ¡Chile Campeón!
            ¡Chile Campeón de Copa América!
            ¡En un partido dramático!
            ¡En una tarde sufrida!
            ¡No podía ser de otra forma!
            ¡Dejamos atrás 100 años de lágrimas!
            ¡Dejamos atrás 100 años de derrotas!
            ¡Dejamos atrás, 100 años de robos arbritrales!
            ¡Dejamos atrás, los años de perdedores!
            ¡Para consagrarnos en Ñuñoa!
            ¡Para danzar una danza frenética!
            ¡Para celebrar de Arica a Punta Arenas!
            ¡No lo niego! ¡Yo no vibro con la ópera!
            ¡No lo niego no vibro con la pintura, ni con la música clásica!
            ¡Yo vibro con ustedes, con el fútbol!
            ¡Yo vibro con esta Roja que nos llevó a dos mundiales, yo vibro con Chile, yo vibro con esta tarde que tantas veces soñé! ¡Señoras y señores, partido terminado!
            ¡Chile, sí, Chile, después de tantos años de sufrimiento, es el Campeón de américa!,
            ¡En una tarde de infarto, acá en Ñuñoa!.”
            </p>
            <p class="subtitle is-6">
            Claudio Palma
            </p>
        </div>
        <footer class="card-footer">
            <p class="card-footer-item">
            <span>
                View on <a href="https://www.youtube.com/watch?v=vv4ZM9Ts2lo">Youtube</a>
            </span>
            </p>
            <p class="card-footer-item">
            <span>
                Share on <a href="#">Facebook</a>
            </span>
            </p>
        </footer>
        </div>

{% endblock %}